In [1]:
people = {
    'name' : ['Chester',"Alice","David"],
    'lastname' : ["Doe","Doe","Doe"],
    'age' : [13,14,12]
}

In [3]:
import pandas as pd 
df = pd.DataFrame(people)
df

      name lastname  age
0  Chester      Doe   13
1    Alice      Doe   14
2    David      Doe   12

In [4]:
df.iloc[2]

name        David
lastname      Doe
age            12
Name: 2, dtype: object

In [6]:
df.loc[[1,2],'age']

1    14
2    12
Name: age, dtype: int64